@charset "utf-8";

.movie__cont {
  background: #000;
  color: white;
  padding-bottom: 5rem;
}
.movie__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  padding-top: 2rem;

  .movie__title {
    display: flex;
    line-height: 1;
  }
  .movie__date {
    color: grey;
    font-size: 1rem;
    padding-top: 1.2rem;
  }
  h2 {
    padding-top: 2rem;
    font-size: 5rem;
    line-height: 1;
  }
  p {
    margin-top: 2rem;
    padding-right: 5rem;
    line-height: 1.5;
    font-size: 1.2rem;
  }
  img {
    width: 30rem;
  }
}
