@charset "utf-8";

.splash__cont {
  background: #000;
  color: white;
  padding-bottom: 5rem;
}

.splash__item {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  h2 {
    font-size: 3rem;
  }
  img {
    width: 30rem;
  }
}